body {
    margin: 0;
    height: 100vh;
 }
 
 
 .grid-container {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-areas: "header header header" "pic1 pic2 pic3" "pic4 pic5 pic6" "footer footer footer";
    height: 100vh;
    margin: 2em;
 
 
 }
 
 
 header {
    grid-area: header;
    background: #dfb5b5;
 }
 
 
 section.pic1 {
    grid-area: pic1;
    background: url('https://www.doc.govt.nz/thumbs/hero/contentassets/d0ae4a3c06a54cd7a181ddd0e03f54ee/birds-a-z-1920.jpg') no-repeat;
    background-size: cover;
 }
 
 
 section.pic2 {
    grid-area: pic2;
    background: url('https://www.forestandbird.org.nz/sites/default/files/styles/ratio_5_x_3_medium_/public/2018-05/Tui.jpg?itok=zgaQPegD') no-repeat;
    background-size: cover;
 }
 
 
 section.pic3 {
    grid-area: pic3;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcu_n69hgccjY0pDTivIXJX8-BScjzjya5rOsX7p7ugQ&s99') no-repeat;
    background-size: cover;
 }
 
 
 section.pic4 {
    grid-area: pic4;
    background: url('https://i1.sndcdn.com/avatars-000074160214-16hoyx-t1080x1080.jpg') no-repeat;
    background-size: cover;
 }
 
 
 section.pic5 {
    grid-area: pic5;
    background: url('https://f4.bcbits.com/img/a0587016433_10.jpg') no-repeat;
    background-size: cover;
 }
 
 
 section.pic6 {
    grid-area: pic6;
    background: url('https://i1.sndcdn.com/artworks-000247519643-dhb2fq-t240x240.jpg') no-repeat;
    background-size: cover;
 }
 
 
 footer {
    grid-area: footer;
    background: #44af;
 }
 